# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
fiona=1.8.4
gdal=2.3.3
geopandas=0.6.1
geos=3.7.1
hdf4=4.2.13
hdf5=1.10.4
matplotlib=2.2.3
mock=3.0.5
netcdf4=1.4.2
numpy=1.16.6
numpy-base=1.16.6
pandas=0.24.2
proj4=5.2.0
pyproj=1.9.6
pyyaml=5.2
rasterio=1.0.21
shapely=1.6.4
sip=4.19.8
six=1.15.0
yaml=0.1.7
